<launch>

<param name ="/use_sim_time" value="true"/>

  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find my_fyp)/worlds/empty_world.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>


  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />
<param name ="/use_sim_time" value="true"/>
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model turtlebot3_$(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />


<!--rviz-->
<include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    <arg name="model" value="$(arg model)"/>
  </include>
<param name ="/use_sim_time" value="true"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot3_gazebo)/rviz/turtlebot3_gazebo_model.rviz"/>





<!--teleop key-->
 <!-- turtlebot3_teleop_key already has its own built in velocity smoother -->
<param name ="/use_sim_time" value="true"/>
  <node pkg="turtlebot3_teleop" type="turtlebot3_teleop_key" name="turtlebot3_teleop_keyboard"  output="screen">
  </node>




<!--Run The Map-->
<arg name="map_file" value="$(find provide_map)/maps/my_map.yaml"></arg>
<param name ="/use_sim_time" value="true"/>	
<node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)">
<param name="frame_id" value="map"/>
<param name="global_frame_id" value="map"/>



 </node>

</launch>
